#include <windows.h>
#include "resources_def.inc"

2 ICON "colinux.ico"

1 VERSIONINFO
FILEVERSION CO_VERSION_DWORD
PRODUCTVERSION CO_VERSION_DWORD
FILEOS VOS__WINDOWS32
{
  BLOCK "StringFileInfo"{
    BLOCK "040904B0" {
      VALUE "CompanyName","Open Source software"
      VALUE "FileDescription", CO_TEXTNAME_STRING
      VALUE "FileVersion", CO_VERSION_STRING
      VALUE "LegalCopyright","Copyright (c) coLinux project"
      VALUE "OriginalFilename", CO_FILENAME_STRING
      VALUE "ProductName", "coLinux"
      VALUE "ProductVersion", CO_PRODUCT_STRING
    }
  }
}
