#include <windows.h>
#include "resources_def.inc"

LANGUAGE LANG_ENGLISH,SUBLANG_DEFAULT
1 11 "service-message.bin"

2 ICON "colinux.ico"

1 VERSIONINFO
FILEVERSION CO_VERSION_DWORD
PRODUCTVERSION CO_VERSION_DWORD
FILEOS VOS__WINDOWS32
{
  BLOCK "StringFileInfo"{
    BLOCK "040904B0" {
      VALUE "CompanyName","Open Source software"
      VALUE "FileDescription", "coLinux Main daemon program"
      VALUE "FileVersion", CO_VERSION_STRING
      VALUE "LegalCopyright","Copyright (c) coLinux project"
      VALUE "OriginalFilename","colinux-daemon.exe"
      VALUE "ProductName", "coLinux"
      VALUE "ProductVersion", CO_PRODUCT_STRING
      VALUE "LinuxKernelVersion", CO_KERNEL_STRING
      VALUE "GccVersion", CO_GCC_STRING
      VALUE "BinutilsVersion", CO_AS_STRING
    }
  }
}
