#include <windows.h>

2 ICON "colinux.ico"

1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS__WINDOWS32
{
  BLOCK "StringFileInfo"{
    BLOCK "040904B0" {    
      VALUE "Comment", ""
      VALUE "CompanyName","Open Source software"
      VALUE "FileDescription", "Experiment program"
      VALUE "FileVersion", "coLinux version"
      VALUE "LegalCopyright","Copyright (c) coLinux project"
      VALUE "OriginalFilename","colinux-daemon.exe"
      VALUE "ProductName", "coLinux"
      VALUE "ProductVersion", "P2D2"
    }
  }
}
